$top-nav-bg: #211f27;
$border-color-light: #e0e5ee;
$border-color-hover: #e30613;
$icon-size: 20px;
$border-radius-small: 5px;
$border-radius-medium: 20px;
$border-radius-large: 50px;
.navigation-buttons > a[data-target="cart"] i {
  background-color: green;
  color: white;
}
.header-top .btn.cart-count {
  // padding: 8px 20px !important;
  border-radius: $border-radius-medium;
  position: relative;
  color: $color-black;
  // background-color: $color-white;
  // border: 1px solid $border-color-light !important;

  span {
    color: $color-black;
  }

  &:before {
    content: "";
    background-image: url(https://729147.myshoptet.com/user/documents/upload/assets/icon/cart.svg);
    background-size: cover;
    width: $icon-size;
    height: $icon-size;
  }

  &:hover {
    background: $color-white !important;
    border-color: $border-color-hover !important;
  }
} // Login Button
// .navigation-buttons > a.top-nav-button.top-nav-button-account.secondary,
// .navigation-buttons,
a.top-nav-button.top-nav-button-account,
button.top-nav-button.top-nav-button-login.toggle-window {
  display: block;
  width: 120px;
  margin-right: 20px;
  border-radius: $border-radius-large;
  padding: 12px 20px 12px 40px;
  color: $color-black;
  background-color: transparent;
  // border: 1px solid $border-color-light !important;
  position: relative;
  top: 7px;

  span {
    color: $color-black;
  }

  &:before {
    content: "";
    background-image: url("https://729147.myshoptet.com/user/documents/upload/assets/icon/user.svg");
    background-size: cover;
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    left: 8px;
    top: 14px;
  }

  &:hover {
    background: $color-white;
    border-color: $border-color-hover !important;
  }
}

a.top-nav-button.top-nav-button-account {
  top: -1px;
}

.ordering-process button.top-nav-button.top-nav-button-login.toggle-window {
  visibility: hidden;
}

form#formSearchForm {
  position: relative;
  &::before {
    content: "\e920";
    speak: none;

    display: inline-block;
    font-family: shoptet;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    width: 32px;
    position: absolute;
    left: 24px;
    top: 4px;
  }
  input.query-input.form-control.search-input.js-search-input {
    box-sizing: border-box;

    border-style: solid;
    border-color: rgb(227 227 227) !important;
    height: 40px;
    padding-left: 60px;
    border-radius: 50px;
    background-color: rgb(249 249 249);
  }
  button.btn.btn-default {
    display: none;
  }
}
@media (min-width: 768px) {
  header#header ul.menu-level-3 {
    display: none !important;
  }
  .scrolled {
    .js-header-info-bar.header-info-bar.has-cross.is-full-width {
      position: fixed;
      top: 0px !important;
      left: 0;
      right: 0;
      z-index: 101;
    }
    header#header {
      position: fixed;
      top: 0px !important;
      left: 0;
      right: 0;
    }
    .header-info-bar-addon header#header {
      top: 30px !important;
    }
  }

  input.query-input.form-control.search-input.js-search-input {
    height: 54px !important;
  }
  form#formSearchForm {
    &::before {
      left: 24px;
      top: 10px !important;
    }
  }

  header#header {
    border-bottom: 1px solid #dadada;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.09);
    z-index: 100;
    position: relative;
  }
  .top-navigation-bar {
    display: none;
  }
  .header-top > div {
    align-self: center;
    flex: unset;
  }
  .header-top {
    justify-content: space-between;
  }
  .search {
    width: 40%;
  }

  .navigation-in {
    background-color: transparent;
    a b {
      color: black;
    }
  }

  .navigation-in > ul > li {
    border-color: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 7%));
    border: none;
  }

  span.cart-price.visible-lg-inline-block {
    display: none !important;
  }
  a.btn.btn-icon.toggle-window.cart-count.full {
    span.cart-price.visible-lg-inline-block {
      display: inline-block !important;
    }
  }

  .right-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    a {
      color: black;
    }
  }
  .navigation-in > ul > li > a {
    padding-bottom: 12px;
    padding-top: 12px;
  }
  #navigation {
    height: 42px;
    left: 0;
    position: relative;
  }
  ul.menu-level-1 {
    a b {
      font-weight: 700 !important;
    }
  }
  span.login-header {
    display: block;
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    position: relative;
    top: -4px;
  }
  span.text {
    display: block;
    font-size: 11px;
    text-align: left;
    position: relative;
    top: -4px;
  }
  .header-top {
    display: flex;
    flex-wrap: wrap;
    height: 89px;
    padding-bottom: 9px;
    padding-top: 19px;
  }
  .user-action-login.popup-widget.login-widget {
    z-index: 10000;
    top: 63px;
  }
  .cart-content input.query-input.form-control.search-input.js-search-input {
    height: 36px !important;
  }
  div#cart-widget {
    z-index: 111;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .popup-widget.login-widget:before {
    right: 136px;
  }
  .search {
    width: 40%;
  }
}

@media (max-width: 767px) {
  a.top-nav-button.top-nav-button-account,
  button.top-nav-button.top-nav-button-login.toggle-window {
    width: unset !important;
    span.login-header {
      display: none;
    }
    span.text {
      display: none;
    }
  }
  .responsive-tools > a[data-target="navigation"]:before,
  .responsive-tools > a[data-target="navigation"]:hover:before {
    background-color: transparent;
    color: black;
    font-size: 25px;
  }
  #header .cart-count {
    top: -41px;
  }
  .responsive-tools > a[data-target="search"] {
    margin-right: 133px;
  }
  a.top-nav-button.top-nav-button-account,
  button.top-nav-button.top-nav-button-login.toggle-window {
    position: fixed !important;
    top: 4px;
    right: 68px;
  }
  .scrolled-down {
    button.top-nav-button.top-nav-button-login.toggle-window {
      top: -40px;
    }
  }
  .responsive-tools [data-target="search"],
  .responsive-tools [data-target="search"]:hover {
    color: black;
  }
  .right-menu {
    display: block !important;
  }

  a.top-nav-button.top-nav-button-account {
    span {
      display: none;
    }
    &:before {
      left: 18px;
      top: 9px;
    }
  }
  button.top-nav-button.top-nav-button-login.toggle-window {
    span {
      display: none;
    }
    &:before {
      left: 18px;
      top: 9px;
    }
  }

  .scrolled-down {
    a.top-nav-button.top-nav-button-account,
    button.top-nav-button.top-nav-button-login.toggle-window {
      span {
        display: none;
      }
      &:before {
        left: 18px;
        top: -20px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .right-menu {
    display: none;
  }
}
