.content-wrapper.homepage-box.middle-banners-wrapper {
  .col-sm-4 {
    width: 50%;
  }
  .col-sm-8 {
    width: 50%;
  }
}
.homepage-box {
  background-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}
.homepage-articles-wrapper.row.blog-wrapper.slick-initialized.slick-slider {
  width: 100%;
}

.footer-banners.row.banner-wrapper.container {
  margin-right: auto;
  margin-left: auto;
}

.menu-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .category {
    width: 25%;
    padding: 5px;
    a {
      border: 1px solid #e0e0e0;
      width: 100%;
      padding: 5px;
      img {
        height: 80px;
      }
      &:hover {
        text-decoration: none;
        border-color: #b2b2b2;
        top: 1px;
      }
    }
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  &::before {
    speak: none;
    display: inline-block;
    font-family: shoptet;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: var(--color-base-gray);
    font-size: 15px;
    top: 4px;
    position: relative;
  }
}
.products {
}
.slick-list.draggable {
  width: 100%;
}

.slick-prev {
  &:before {
    content: "\E90B";
    color: #101010; 
    background-color: white;
}
.slick-next {
  &:before {
    content: "\E90C";
    color: #101010;
    background-color: white;
  }
}
.slick-slide {
  padding: 0 5px;
}

button.slick-next.slick-arrow {
  right: -2px;
  box-shadow: #7f7f7f 1px 1px 6px;
}
button.slick-prev.slick-arrow {
  left: 15px;
  z-index: 10;
  box-shadow: #7f7f7f 1px 1px 6px;
}
@media (min-width: 768px) {
  .blog-wrapper .news-item,
  .news-wrapper:not(.carousel) .news-item {
    width: unset !important;
  }
}
@media (min-width: 1200px) {
  .one-column-body .blog-wrapper .news-item,
  .one-column-body .news-wrapper:not(.carousel) .news-item {
    width: unset !important;
  }
}

@media (max-width: 767px) {
  .slick-slide {
    padding: 20px;
  }
  .menu-wrap .category {
    width: 50%;
    padding: 5px;
  }
  .footer-banners.row.banner-wrapper.container {
    padding: 0;
    text-align: center;
  }
}
