a.btn.btn-default.p-all {
  display: none;
}
li.shp-tab[data-testid="tabDiscussion"] {
  display: none !important;
}

.social-buttons-wrapper,
.link-icons[data-testid="productDetailActionIcons"],
.social-buttons {
  display: none !important;
}