a.btn.btn-default.p-all {
  display: none;
}

li.shp-tab[data-testid="tabDiscussion"] {
  display: none !important;
}

/* Schovat akční ikonky (tisk / dotaz / sdílet) */
div.link-icons[data-testid="productDetailActionIcons"],
.social-buttons-wrapper,
.social-buttons {
  display: none !important;
}

.p-info-wrapper .benefitBanner.position--benefitProduct {
  margin-top: 12px;
}